* {
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    font-size: 1.2em;    
}

body {
    max-width: 1400px;
}

@media screen and (min-width: 750px) {
    :root {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 1250px) {
    :root {
        font-size: 1.5rem;
    }
}

a {
    color: inherit;
}

li {
    list-style: none;
}

header {
    background-color: rgb(35, 35, 109);
    color:aliceblue;
    display: flex;
}

.header-title {
    margin: 4px auto;
}

nav {
    background-color: rgb(60, 60, 145);
    color:aliceblue;
    padding: 1rem;
    height: 100vh;
}

.nav-main-flex {
    display: flex;
}

.time-filtered-container {
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
}

#project-container {
    margin-bottom: 0.5rem;
}

main {
    padding: 1rem;
    width: 100%;
}

.project-title-container {
    display: flex;
    gap: 0.6rem;
}

.project-title-container button {
    font-size: 0.8rem;
    color:#727272;
    background-color: white;
    border: none;
}

.project-title-container button:hover {
    font-size: 0.8rem;
    color: aliceblue;
    background-color: rgb(60, 60, 145);
    border-width: 2px;
    border-color: rgb(35, 35, 109);
    border-style: solid outset outset solid;
}

#todo-container {
    margin-bottom: 0.5rem;
}

.todo {    
    margin: 0.2rem auto;
    padding: 1rem;  
    background-color: aliceblue;
}

.todo-div {
    color: rgb(0, 0, 54);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

button {
    font-size: inherit;
    color: aliceblue;
    background-color: rgb(60, 60, 145);
    border-color: rgb(35, 35, 109);
    padding: 0.1em 0.3em;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.todo-title {
    margin-right: auto;
}

.low-priority {
    border-left: 4px solid green;
}

.medium-priority {
    border-left: 4px solid rgb(60, 60, 145);
}

.high-priority {
    border-left: 4px solid red;
}

.due-soon {
    color: red;
}

.past-due {
    color: brown;
}

textarea {
    font-size: inherit;
    resize: none;

}

.dialog-box {
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: none;
    box-shadow: 4px 4px 4px #2c2c2c;
}

.dialog-button-row {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.6rem;
}